doctype html
html(ng-app='loc8rApp')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/amelia.bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    // Set up a Bootstrap navigation bar fixed to top of window
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          // Add a brand-styled link to homepage
          a.navbar-brand(href='/') Loc8r
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            // Set up collapsing navigation for smaller screen resolutions
          span.icon-bar
          span.icon-bar
          span.icon-bar
        #navbar-main.navbar-collapse.collapse
          // Add About link to left side of bar
          ul.nav.navbar-nav
            li
              a(href='/about/') About
    // prevent the content from filling the entire width of the screen
    // stuff in the container is still left-aligned
    .container
      div(ng-view)
        block content
      footer
        .row
          .col-xs-12
            small &copy; Simon Holmes 2014
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/angular/angular.min.js')
    script(src='/bower_components/angular-route/angular-route.min.js')
    script(src='/app.js')
    script(src='/home/home.controller.js')
    script(src='/common/services/loc8rData.service.js')
    script(src='/common/services/geolocation.service.js')
    script(src='/common/directives/ratingStars/ratingStars.directive.js')
    script(src='/common/filters/formatDistance.filter.js')
    script(src='bootstrap/js/bootstrap.min.js')
    script(src='javascripts/validation.js')
